body {
	padding-bottom: 70px;
}
.back-btn {
	margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
input[readonly] {
    background-color: white !important;
    cursor: text !important;
}

.login-window {
    padding-top: 25%;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 20%;
    min-height: 20%;
}

.form-group.required .control-label:after {
    content:"*";
    color:red;
}


div.checkin {
    text-align: center;
}
img#profile {
    margin-bottom: 5px;
}